<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
          margin: 0;
          font-family: Arial, sans-serif;
        }
    
        .navbar {
          background-color: #333;
          padding: 15px;
          display: flex;
          justify-content: flex-end; /* 新增的屬性，將內容推到右邊 */
        }
    
        .nav-list {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
        }
    
        .nav-item {
          margin-right: 30px;
        }
    
        .nav-link {
          text-decoration: none;
          color: white;
        }
    
        .nav-link:hover {
          border-bottom: 2px solid white;
        }
    
        h1 {
          font-family: Times New Roman;
          font-size: 35px;
        }
        h2 {
          font-family: Times New Roman;
          font-size: 24px;
        }
    
        .custom-link {
          text-decoration: none; /* 去掉底線 */
          color: inherit; /* 使用元素的原始文字顏色 */
        }
      
        .custom-link:hover {
          border-bottom: none; /* 移除底線 */
        }
      </style>
    
</head>
<body>
    <div style="margin-left: 20px;">
        <h1><a class="custom-link" href="http://localhost:3000">Henry's Select</a></h1>
    </div>
    
      <!--<a href="/other2">Go to Other Page</a>-->
    
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item"><a href="http://localhost:3000" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/news" class="nav-link">News</a></li>
          <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About Me</a></li>
        </ul>
      </nav>
    
      <p></p>

      <div>
        <div style = "width: 30%;  display: inline-block;"></div>
        <div style = "width: 40%;  display: inline-block;">
          <h1>芝加哥交響樂團震撼登場 樂迷們準備好迎接音樂狂歡</h1>
          <p style="text-align: right;">By ChatGPT  2024/01/02</p>
          <p>嘿，樂迷們注意啦！芝加哥交響樂團（Chicago Symphony Orchestra）宣布，即將在近期掀起一場超狂的音樂風暴，絕對是你不想錯過的狂歡活動！</p>
          <p>這場音樂狂歡將在芝加哥交響樂團的音樂殿堂舉辦，這地方可是有名的音樂聖地，擁有絕佳的音質和超猛的氛圍，讓你在音樂的海洋中沉浸。</p>
          <p>這次的音樂會將焦點集中在芝加哥交響樂團的超讚演奏和音樂交織上。他們可是以豐富的音樂風格和絕妙的演奏技巧聞名的，絕對能給你帶來一場難以忘懷的音樂派對！</p>
          <p>芝加哥交響樂團一直以來以他們的卓越演出聞名，這次的音樂會上將呈現經典樂曲和一些現代音樂的新解釋，讓你完全沉浸在音樂的世界中。</p>
          <p>這場音樂派對不僅僅是一場音樂演出，更是一場文化的盛事。音樂廳裡的獨特氛圍、樂團成員的火熱演奏以及觀眾間的共鳴將一同打造出一個難以忘懷的夜晚。</p>
          <p>當然，這次的指揮家和獨奏演奏家也是這場音樂狂歡的亮點之一。你絕對有機會欣賞到世界級音樂家的超犀利表演，感受音樂的深層次和豐富多彩。</p>
          <p>對於熱愛音樂的你來說，這場芝加哥交響樂團音樂派對絕對是一場不容錯過的盛會。這可是一個難得的機會，讓你完全沈浸在音樂的魅力中，和大家一起享受芝加哥交響樂團帶來的音樂狂歡之夜！</p>
          
          <br>
          <br>

          <h1>維也納愛樂音樂廳即將舉辦獨特音樂饗宴</h1>
          <p style="text-align: right;">By ChatGPT  2023/12/30</p>
          <p>維也納愛樂（Vienna Philharmonic Orchestra）宣布，他們即將在近期舉辦一場令人期待的音樂活動，為樂迷們帶來一場獨特的音樂饗宴。這場音樂盛宴將在維也納愛樂音樂廳舉行，該音樂廳被譽為全球頂尖的音樂表演場所之一。</p>
          <p>音樂會的焦點將放在維也納愛樂樂團的精湛演奏和優雅音樂交織之上。這次演出將展示樂團卓越的技藝和對音樂的熱愛，為觀眾帶來難以忘懷的音樂體驗。</p>
          <p>維也納愛樂樂團自成立以來，一直以其優雅的音樂風格和卓越的演奏水準享譽全球。此次音樂會將呈現經典樂曲，以及一些古典音樂的嶄新演繹，讓觀眾沉浸在音樂的饗宴之中。</p>
          <p>維也納愛樂的音樂會不僅僅是一場音樂的演出，更是一場文化的饗宴。音樂廳的氛圍、樂團成員的激情演奏以及觀眾間的共鳴將共同營造出一個難以忘懷的夜晚。</p>
          <p>此次音樂會的指揮家和獨奏演奏家將是這場音樂饗宴的亮點之一。觀眾們將有機會欣賞到世界級的音樂家帶來的精湛表演，演繹出音樂的深邃和豐富。</p>
          <p>對於音樂愛好者來說，這場維也納愛樂音樂廳的音樂會無疑是一場不可錯過的盛事。這將是一次難能可貴的機會，讓人們感受到音樂的魅力，並在維也納愛樂的音樂海洋中沉浸。</p>

          <br>
          <br>

          <h1>紐約愛樂明年即將來台</h1>
          <p style="text-align: right;">By ChatGPT  2023/12/28</p>
          <p>紐約愛樂（New York Philharmonic Orchestra）宣布，即將在近期舉辦一場引人期待的音樂活動，為樂迷們帶來一場難忘的音樂饗宴。</p>
          <p>這場音樂盛宴將在紐約愛樂音樂廳舉行，該音樂廳素有其獨特的音樂氛圍，是全球頂尖的音樂表演場所之一。</p>
          <p>音樂會的焦點將放在紐約愛樂樂團的優雅演奏和音樂交織之上。樂團將展現其卓越技藝和對音樂的深厚熱愛，為觀眾帶來難以忘懷的音樂體驗。</p>
          <p>紐約愛樂樂團自成立以來，以其獨特的音樂風格和卓越的演奏水準贏得了全球樂迷的讚譽。此次音樂會將呈現經典樂曲，以及對一些古典音樂的嶄新演繹，讓觀眾沉浸在音樂的饗宴之中。</p>
          <p>紐約愛樂的音樂會不僅僅是一場音樂的演出，更是一場文化的饗宴。音樂廳的氛圍、樂團成員的激情演奏以及觀眾間的共鳴將共同營造出一個難以忘懷的夜晚。</p>
          <p>此次音樂會的指揮家和獨奏演奏家將是這場音樂饗宴的亮點之一。觀眾們將有機會欣賞到世界級的音樂家帶來的精湛表演，演繹出音樂的深邃和豐富。</p>
          <p>對於音樂愛好者來說，這場紐約愛樂音樂廳的音樂會無疑是一場不可錯過的盛事。這將是一次難能可貴的機會，讓人們感受到音樂的魅力，並在紐約愛樂的音樂海洋中沉浸。</p>

          <br>
          <br>

          <h1>倫敦交響樂團盛大登台 音樂之夜令人期待</h1>
          <p style="text-align: right;">By ChatGPT  2024/01/02</p>
          <p>倫敦交響樂團（London Symphony Orchestra）宣布，將在即將來臨的日子舉辦一場引人期待的音樂活動，為樂迷們帶來一場難忘的音樂盛宴。</p>
          <p>這場音樂盛會將在倫敦交響樂團的音樂廳隆重舉行，該音樂廳是世界知名的音樂演出場所，以其卓越的音響效果和氛圍受到廣泛讚譽。</p>
          <p>音樂會將聚焦在倫敦交響樂團的優雅演奏和音樂交織之上。樂團將展現其豐富的音樂風格和卓越的演奏技巧，為觀眾帶來難以忘懷的音樂體驗。</p>
          <p>倫敦交響樂團以其卓越的音樂演出而聞名，將在這次音樂會上呈現經典樂曲以及對一些現代音樂的精彩詮釋，讓觀眾沉浸在音樂的美好之中。</p>
          <p>這場音樂會不僅僅是一場音樂的演出，更是一場文化的盛事。音樂廳的獨特氛圍、樂團成員的激情演奏以及觀眾間的共鳴將共同打造出一個難以忘懷的夜晚。</p>
          <p>指揮家和獨奏演奏家將是這場音樂盛會的重要亮點。觀眾們將有機會欣賞到世界級音樂家的卓越表演，感受音樂的深邃和豐富。</p>
          <p>對於音樂愛好者而言，這場倫敦交響樂團音樂廳的音樂會絕對是一場不可錯過的盛事。這將是一次難得的機會，讓人們沉浸在音樂的魅力中，並共同享受倫敦交響樂團帶來的音樂之夜。</p>
            
        </div>
        <div style = "width: 29%;  display: inline-block;"></div>
      </div>
</body>
</html>